.homepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemsContainer {
  width: 100%;
  text-align: center;
}

.itemCardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 100px;
  height: 100px;
}

.product {
  text-align: center;
}
