* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --raspberry: #dd1155;
  --snow: #fcf7f8;
  --french-gray: #ced3dc;
  --english-violet: #48435c;
}

body {
  height: 100vh;
  background-color: var(--snow);
  font-family: -apple-system, BlinkMacSystemFont, "Glass Antiqua", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Moderustic", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Moderustic", sans-serif;
}

button {
  cursor: pointer;
  background-color: var(--raspberry);
  color: var(--french-gray);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

form label {
  align-self: flex-start;
  margin-top: 10px;
}

form input {
  border: 1.5px solid var(--english-violet);
  border-radius: 2px;
}
